@CHARSET "UTF-8";

.mainpanel {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  width: 100%;
  height: 100%;
}

.browserpanel {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  height: 100%;
}

.menu {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  width: 50px;
}

.configPanel {
  border: 1px solid pink;
  padding: 2px;
  margin-bottom:6px;
  width: 100%;
  height: 40%;
}

.channels {
	height: 60%;
}

.preViewDevice {
	height: 300px;
}

body {
  background-color: white;
}